RedirectMatch "/eclipselink/api/latest/(.*)" http:/eclipselink/api/1.2/$1
redirect /eclipselink/api/latest http://www.eclipse.org/eclipselink/api/1.2/index.html
redirect /eclipselink/maven.repo http://www.eclipse.org/downloads/download.php?r=1&nf=1&file=/rt/eclipselink/maven.repo
redirect /eclipselink/maven http://www.eclipse.org/downloads/download.php?r=1&nf=1&file=/rt/eclipselink/maven.repo
redirect /eclipselink/project_summary http://www.eclipse.org/projects/project_summary.php?projectid=rt.eclipselink
redirect /eclipselink/summary http://www.eclipse.org/projects/project_summary.php?projectid=rt.eclipselink