RedirectMatch "/eclipselink/api/latest/(.*)" http:/eclipselink/api/1.0.2/$1
redirect "/eclipselink/maven.repo" /downloads/download.php?r=1&nf=1&file=/rt/eclipselink/maven.repo
redirect "/eclipselink/project_summary" /projects/project_summary.php?projectid=rt.eclipselink