/* 
    Document   : mycal
    Created on : 4-Apr-2013, 10:47:56 AM
    Author     : djclarke
    Description:
        Purpose of the stylesheet follows.
*/

.rt-event,
.fc-agenda .holiday .fc-event-time,
.rt-event a {
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: black;           /* text color */
}

.planning-event,
.fc-agenda .holiday .fc-event-time,
.plannning-event a {
    background-color: #ffff00; /* background color */
    border-color: #ffff00;     /* border color */
    color: black;           /* text color */
}
