RedirectMatch "/eclipselink/api/latest/(.*)" http:/eclipselink/api/1.0/$1
RedirectMatch "/eclipselink/maven.repo" http://www.eclipse.org/downloads/download.php?r=1&amp;file=/technology/eclipselink/maven.repo
